body{
    background-color: hsl(212, 45%, 89%);
    margin: 0;
}

.div-container{
    background-color: hsl(0, 0%, 100%);
    border: 2px solid black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
}
    .div-qr img{
        width: 30em;
        border-radius: 25px;
}
.div-qr{
    font-size: 15px;
    text-align: center;
}

.div-qr img{
    border-radius: 25px;
}

@media (max-width:600px){
    body{
        background-color: rgb(144, 115, 115);
    }

    .div-qr{
        font-size: 1em;
        text-align: center;
    }
    

    .div-qr img{
        width: 25em;
        border-radius: 25px;
    }

}